<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CardRadar</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="expansao">
                <span class="oi oi-plus" aria-hidden="true"></span> Expansões
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="condicao">
                <span class="oi oi-plus" aria-hidden="true"></span> Condições
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="linguagem">
                <span class="oi oi-plus" aria-hidden="true"></span> Linguagens
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="localizacao">
                <span class="oi oi-plus" aria-hidden="true"></span> Localizações
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="produto">
                <span class="oi oi-plus" aria-hidden="true"></span> Produtos
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="venda">
                <span class="oi oi-plus" aria-hidden="true"></span> Vendas
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="vendaFiltro">
                <span class="oi oi-plus" aria-hidden="true"></span> Vendas-Filtros
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
